@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype"); }

body,
html {
  margin: 0;
  padding: 0; }

.container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

body {
  margin: 0;
  font-size: 16px;
  font-family: "RobotoRegular", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  background: #596273;
  color: #DCE4E7; }

.main-header {
  padding-top: 10px;
  margin-bottom: 10px; }

main .container {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #DCE4E7; }

main p {
  padding: 0;
  margin: 0;
  color: #273041; }
  main p:first-of-type {
    margin-top: 15px; }

.building-area {
  display: inline-block;
  background: url(../img/%D1%81%D1%80%D0%B5%D0%B4%D0%BD%D0%B8%D0%B9%20%D0%BF%D0%BB%D0%B0%D0%BD.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 386px;
  width: 394px; }

.main-header {
  background: #596273; }
  .main-header select {
    color: #596273;
    background: #DCE4E7; }
  .main-header input[type="number"] {
    color: #596273;
    padding-left: 3px;
    background: #DCE4E7;
    border: none; }

button {
  margin: 5px 0;
  padding: 3px 7px;
  background: #596273;
  color: #F6F2F1;
  border: none;
  letter-spacing: 1.5px;
  border: 1px solid #91999c;
  border-radius: 3px;
  transition: all 0.5s ease; }
  button:hover {
    background: #40495a; }

.draw-tools-menu {
  padding: 5px 0;
  border-top: 1px solid #788083;
  border-bottom: 1px solid #788083;
  border-left: 1px solid #788083;
  border-right: 1px solid #788083;
  text-align: center; }
  .draw-tools-menu input[type="number"] {
    width: 40px; }

.button-tools-menu {
  padding: 5px 0;
  border-bottom: 1px solid #788083;
  border-left: 1px solid #788083;
  border-right: 1px solid #788083; }

.cameras {
  padding-top: 10px;
  text-align: left; }
  .cameras p {
    margin: 0;
    padding: 5px;
    border: 1px solid #788083; }

/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; } }

/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */

/*# sourceMappingURL=main.css.map */